

/* @media screen and (max-width: 800px) { 
    .portifolioImg { 
     left: 900px;
    } 
  }  */
*{
        box-sizing: border-box;
    }

    body{
    background-color: #F3EFE0;
    }
    header{
        background-color:#020202;
        border-radius: 10px;
        height: 170px;
        min-width: 1100px;
        max-width: 1100px;
        opacity: 0.7;
        -webkit-border-radius: 5px;
        border:solid 1px;
        box-shadow: 10px 10px 10px 5px black;
        
    }
    .minhaImagem{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 10px;
        position:absolute;
        left: 140px;
        top: 70px; 
    }
    .list1{
        display:inline;
        position:relative;
        left: 750px;
        padding:5px;
        margin:10px;
        top: 20px;
        color:#fff;
        font-family:sans-serif;
        font-size:18px;
        transition: 0.1s;
        min-width: 50px;
    }
   .list1:hover{
        opacity: 0.3;
        color: #ABD8B2;

    }

    .dropdown{
        position: relative;
        display: inline-block;
        
    }
    .dropdown-content {
        display: none;
        position: absolute;
        left: 770px;
        top: 49px;
        
        /* min-width: 160px; */
        
      }
      .dropdown-content ul{
        list-style-type: none;
        margin: -4px;
        padding: 0;
      }
      .dropdown-content ul li{
        margin-top: 0px;
        margin-left: 0;
        padding-top: 5px;
      }
      .dropdown-content ul li a{
          color: none;
          text-decoration: none;
          color: #F3EFE0;
          font-family:sans-serif;
          font-size:18px;
          transition: 0.1s;
      }
      .dropdown-content ul li a:hover{
          opacity: 0.3;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
    .list{
        color: none;
        text-decoration: none;
        color: #F3EFE0;
        font-family:sans-serif;
        font-size:18px;
        transition: 0.1s;
    }
      





    .nome{
        display:inline;
        position:relative;
        left: 250px;
        top:40px;
        font-size:60px;
        color:#fff;
        font-family: Times New Roman;
    }
    .container{
        width:60%;
        height: 430px;
        border-right: solid 1px black;
        
        
    }

    .minhasInformacoes{
        width: 60%; 

        
    }
    .minhasInformacoes p {
        font-size: 20px;
    }
    h5{
        font-size: 30px;
        padding-top:  70px;
    }

    
    .drop li{
        padding: 10px;
        background-color: black;
        margin-top: -10px;
        border-radius: 3px;
        transition: 12s;
    }
    
    .drop li:hover{
        opacity: 0.4;
        
    }
    .portifolioImg{
        
        position: absolute;
        left: 850px;
        top: 280px;
        margin-left: 25px;
        width: 400px;
        height: 300px;
        overflow: hidden;
        float: left;
    } 
    .footer{
        position: absolute;
        margin-top: 50px;
        padding-bottom: 40px;
        /* border: 100 black; */
        border-radius: 40px;
        
        left: 80%;
        margin-bottom: 0;
    }

.footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
}